#root{
    display: flex;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 65%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    max-height: 500px;

    display: flex;
    flex-direction: column;

    margin-left: 5%;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;    

}

#searchBar {
    width: 40%;
    margin-left: 29%;
    margin-right: 31%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    color: black; 
}

.filters {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap; /* Para permitir que los elementos fluyan a la siguiente línea */
    justify-content: center; /* Para centrar los elementos en la fila */
    align-items: center;
    text-align: center;
}

.filters h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100%; /* Asegurémonos de que el título ocupe toda la anchura */
    text-align: center; /* Centramos el texto del título */
}

.filters div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px; /* Agregamos un poco de espacio entre los filtros */
}

.filters input[type="checkbox"] {
    margin-right: 10px;
}

#productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product p {
    margin: 0;
    font-size: 14px;
    color: black;
}

.no-results {
    color: #888;
    font-size: 18px;
    margin-top: 20px;
}



/* AGRUPACION */
.agrupacion {
    width: 20%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    margin-left: 2%;
}

.agrupacion h1 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;    

}

.agrupacion h2 {
    font-size: 18px;
    text-align: center;    
}


/* FILTROS */
.grupoFiltro select{
    background: white;
    color: black;
    border-radius: 5px;
    width: 100%;
    text-align: center; 
    height: fit-content;
}