.main-text{
    color: #007BFF;
}

.secondary-text{
    color: #66B2FF 
}

.third-text{ 
    color: 0056B3;
}

.main-background {
    background-color: #F1F3F9;
}

.blue-background{
    background-color: #DDEFFF;
}

.blue-border{
    border-color: #0056B3;
}

.gray-border {
    border-color: #6C757D;
}

/*
Primario (Azul Principal)

Hex: #007BFF
RGB: 0, 123, 255
Uso: Elementos principales como botones, enlaces, y encabezados.

Secundario (Azul Claro)
Hex: #66B2FF
RGB: 102, 178, 255
Uso: Elementos secundarios, hover states, y componentes destacados.

Terciario (Azul Oscuro)
Hex: #0056B3
RGB: 0, 86, 179
Uso: Encabezados secundarios, texto en fondos claros, y bordes.

Complementario (Gris Claro)
Hex: #F1F3F5
RGB: 241, 243, 245
Uso: Fondos de página, secciones y componentes para proporcionar contraste.

Acercamiento (Gris Medio)
Hex: #6C757D
RGB: 108, 117, 125
Uso: Texto secundario, iconos y bordes.

Acercamiento (Blanco Puro)
Hex: #FFFFFF
RGB: 255, 255, 255
Uso: Texto en fondos oscuros, fondos de secciones claras.

Acercamiento (Azul Suave)
Hex: #DDEFFF
RGB: 221, 239, 255
Uso: Fondos de tarjetas, bloques de contenido y áreas destacadas.*/