.custom-background {
    background-color: #ccf8f5;
}

.custom-body-background {
    background-color: #1c3c65;
}

.custom-text-dark{
    color: #1c3c65;
}

.custom-text-light{
    color: #ccf8f5;
}

.custom-border{
    border-color: #1c3c65;

}

.custom-border-light{
    border-color: #ccf8f5;
}

.custom-searchbar-background{
     background-color: #1c3c65;
}

input[type="text"]::-webkit-input-placeholder {
    color: #ccf8f5;
}

input[type="text"]:valid {
    color: #ccf8f5;
}


.botonFiltro {
    display: none;
}
  
#boton:focus + .botonFiltro,
#boton:focus-within + .botonFiltro {
  display: block;
}

.botonFiltro {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.botonFiltro.show {
  display: block;
}