.legend {
    margin-top: 20px;
    overflow-x: hidden; /* Para permitir desplazamiento horizontal si es necesario */
    white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    text-align: center; /* Centramos el contenido */
}

.legend p {
    font-size: 15px;
    color: black;
}

.legend-item {
    display: inline-flex; /* Mostrar elementos en una sola línea */
    align-items: center;
    margin-right: 20px; /* Agregamos espacio entre los elementos */
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.low {
    background-color: #c1fd9e; /* Verde */
}

.medium {
    background-color: #fffd69; /* Amarillo */
}

.high {
    background-color: #ff8282; /* Rojo */
}


/* Custom scrollbar styles */
.legend::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento vertical */
}

.legend::-webkit-scrollbar-track {
    background: #ffffff; /* Color del fondo de la barra de desplazamiento */
    border-radius: 10px;
}

.legend::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra de desplazamiento */
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Espacio entre la barra y el track */
}

.legend::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color de la barra de desplazamiento al pasar el mouse */
}