.scroll-container::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de desplazamiento */
}
  
  .scroll-container::-webkit-scrollbar-thumb {
    border-radius: 5px; /* Borde redondeado del pulgar */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: #191616; /* Color de fondo de la barra de desplazamiento */
    margin-top: 10px;
  }